/* Tablet */

@media (max-width: 992px) {
    .navbar {
        gap: 10px;
    }

    .cart-icon {
        height: 33px;
        margin-right: 0rem;
        margin-top: 4px;
        margin-bottom: 2px;
    }

    .navbar-list {
        position: absolute;
        top: 46px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--nav-bg);
        border: 2px solid gray;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
        align-items: center;
    }

    .navbar-list a {
        font-size: 18px;
    }

    .menu-label {
        display: flex;
        order: 2;
    }

    #menu-toggle:checked + 
    .navbar-list {
        display: flex;

        
    }

    /* hero*/

    .hero-presentation {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .hero-presentation h1 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
    }

    .hero-presentation p {
        width: 80%;
        max-width: 600px;
    }

    .botones {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .hero img {
        display: none;
    }


    /* PRODUCTS */
    .products-container {
        display: flex;
        flex-direction: column;
    }

    /* FOOTER */


    .footer-container {
        gap: 60px 60px;

    }
    .footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 12px;
        align-items: center;
    } 

    
}